nav{
    background-color:#CC0701;
    width:1510px;
    height: 40px;
}
a{
    background-color: #FFC800;
}
body{
    background-color: #FFF7C6;
}
button{
    background-color: #9E8B68;
}
h2{
    background-color: #D2D5CE;
}
.zawardo{
    align-content: right;
    margin-bottom: 50px;
}
.muda{
    align-content: right;
    margin-bottom: 10px;
}
.lick{
    align-self: right;
    margin-bottom: 10px;
}
.cars{
    align-content: right;
}